<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title style="text-align: center;">I/O Form</title>
	</head>
	<body style="text-align: center;">
		<form>
			<div>
				<label for="email">Email</label>
				<input type="text" name="email" id="email" required />
			</div>
			<button type="button" id="btn1">Submit</button>
		</form>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
			$(function() {
				$('#btn1').click(function() {
					$.ajax({
						type: 'GET',
						url: 'http://localhost:8000/api/getUser',
						data: { mail: $('#email').val() },
						cache: false,
						complete: function(data, status) {
							if (data.status == 200) {
								alert(data.responseText);
							} else alert('error');
						},
					});
				});
			});
		</script>
	</body>
</html>
